@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

.card-hover {
  transform: scale(1);
  transition: transform 0.5s ease-out, background-color 0.3s, border-color 0.3s;
}

.card-hover:hover {
  transform: scale(1.05);
}